body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rgb-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    background-color: antiquewhite;
    height: 20%;
    padding: 20px 30px;
    border:none;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.75);
}

h1 {
    font-size: 30px;
    margin-top: -150px;
    color: #000000;
    letter-spacing: 1.5px;
    
}

label {
    font-weight: bold;
    
}

.area {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.rgb {
    width: 90%;
}

#label {
    background-color: rgb(40, 111, 210);
    color: #ffffff;
    border: none;
    font-size: 18px;
    font-weight: bold;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    border-radius: 10px;
}

@media screen and (max-width: 1200px) {
    .rgb-area {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .rgb-area {
        width: 70%;
    }
}

@media screen and (max-width: 524px) {
    .rgb-area {
        width: 80%;
    }
    #label {
        width: 50%;
    }
}